extends ../auth.layout.pug

block content
    h1 Главная
    form
        label(for="email") email
        input(name="email" id="email")
        label(for="password") password
        input(name="password" id="password")
        button Войти