extends ../main.layout.pug

block variables
    - var title = 'Мои работы'

block content
    h1 "Мои работы"
    include ../common/slider.pug

block scripts
    script(src='assets/scripts/works.bundle.js')