doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title Portfolio | welcome page
        link(rel='stylesheet' href='assets/styles/main.min.css')
    body
        block content
        include ./common/menu.pug